<h1 class="page-top-title">Welcome to Facebook authentication</h1>
<div class="fb_login panel-default centralized">
  <div class="panel-heading">Login With FaceBook
  </div>
  <div class="panel-body"><a href="<%= user_omniauth_authorize_path(:facebook) %>" class="btn btn-lg btn-social btn-facebook">
    <i class="fa fa-facebook"></i> Sign in with Facebook
  </a>
  </div>

</div>