<h1 class="page-top-title">Welcome to Gmail authentication</h1>
<div class="fb_login panel-default centralized">
  <div class="panel-heading">Login With Google+
  </div>
  <div class="panel-body"><a href="<%= user_omniauth_authorize_path(:google_oauth2) %>" class="btn btn-lg btn-social btn btn-lg btn-social btn-google">
    <i class="fa fa-google-plus"></i> Sign in with Google+
  </a>
  </div>

</div>


