  <h1 class="page-top-title">WelCome To Our ApiIntegration Website</h1>
<div class="list_content">
<div class="list_item_header">
  <div class="panel-default">
    <div class="panel-heading"><i class="fa fa-key"></i>
      Authentication List
    </div>
    <div class="panel-body">
      <ul class="item_list">
        <li><i class="fa fa-hand-o-right"></i> Devise</li>
        <li><i class="fa fa-hand-o-right"></i> FaceBook</li>
        <li><i class="fa fa-hand-o-right"></i> Google+</li>
        <li><i class="fa fa-hand-o-right"></i> Twitter
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="list_item_header">
  <div class="panel-default">
    <div class="panel-heading"><i class="fa fa-share"></i> Share With Social Media
    </div>
    <div class="panel-body">
      <ul class="item_list">
        <li><i class="fa fa-hand-o-right"></i> FaceBook</li>
        <li><i class="fa fa-hand-o-right"></i> Google+</li>
        <li><i class="fa fa-hand-o-right"></i> Twitter
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="list_item_header">
  <div class="panel-default">
    <div class="panel-heading"><i class="fa fa-usd"></i> Payment Api
    </div>
    <div class="panel-body">
      <ul class="item_list">
        <li><i class="fa fa-hand-o-right"></i> Credit Card</li>
        <li><i class="fa fa-hand-o-right"></i> PayPal</li>
        <li><i class="fa fa-hand-o-right"></i> Stripe
        </li>
      </ul>
    </div>
  </div>
</div>
</div>