
<h1 class="page-top-title">Welcome to Twitter authentication</h1>
<div class="fb_login panel-default centralized">
  <div class="panel-heading">Login With Google+
  </div>
  <div class="panel-body"><a href="<%= user_omniauth_authorize_path(:twitter) %>" class="btn btn-lg btn-social btn btn-lg btn-social btn-twitter">
    <i class="fa fa-twitter"></i> Sign in with Twitter
  </a>
  </div>

</div>