<!DOCTYPE html>
<html xmlns:og="http://opengraphprotocol.org/schema/"
      xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title>ApiIntegration</title>
    <%= yield :meta %>
    <%= yield :og_meta %>
  </head>
  <body>
  fdgdf gdf gdf
  </body>
</html>